.my-white-font{
    color: white;
}

.my-font {
    color: green;
    text-align: center;
}

.small-box {
    background-color: aqua;
    width: 350px;
    height: 100px;
    position: inline-block;
    border: 10px solid #000;
    margin: 10px;
}

 .small-green-box { 
    background-color: green;
    width: 350px;
    height: 100px;
    position: inline-block;
    border: 3px solid #000;
    margin: 10px;
}



h1 {
    color: white;
    background-color: red;
    padding: 5px;
} 
